[Unit]
Description=wlroots Brightness Control
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=wlrgammasvc

[Install]
WantedBy=graphical-session.target
